# Ignora tutti i file di cache di Python
__pycache__/

# Ignora le sessioni di Flask
flask_session

# Ignora la directory static
static/

# Ignora il file delle credenziali
credential.json

# Ignora la directory uploads
uploads/