{% extends "base.html" %}

{% block title %}Gestione Ordini - E-commerce{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Gestione Ordini</h1>
        </div>
        <div class="card-body">
            {% if orders %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Ordine</th>
                            <th>Oggetto</th>
                            <th>Quantità</th>
                            <th>Data Ordine</th>
                            <th>Prezzo per Oggetto</th>
                            <th>Stato</th>
                            <th>Indirizzo di Spedizione</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% for item in order.order_items %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ order.created_at.strftime('%Y-%m-%d') }}</td>
                                    <td>{{ item.price }} €</td>
                                    <td>{{ order.status }}</td>
                                    <td>
                                        {{ order.user.address }}, {{ order.user.city }}
                                    </td>
                                    <td>
                                        {% if order.status == 'In attesa' %}
                                            <form action="{{ url_for('main.confirm_order', order_id=order.id) }}" method="POST" style="display:inline;">
                                                <button type="submit" class="btn btn-success btn-sm">Conferma Ordine</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Non ci sono ordini da gestire.</p>
            {% endif %}
        </div>
        <div class="card-footer text-end">
            <a class="btn btn-link" href="{{ url_for('main.view_products_seller') }}">Torna al Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}