{% extends "base.html" %}

{% block title %}Products - E-commerce{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Products</h1>
    <form method="GET" action="{{ url_for('main.search_product') }}">
        <div class="row mb-3">
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Product Name" value="{{ request.args.get('name', '')|e }}">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" id="filter-toggle">Filter</button>
            </div>
        </div>
        <div class="row mb-3" id="filter-options" style="display: none;">
            <div class="col"></div>
            <div class="col">
                <input type="text" name="description" class="form-control" placeholder="Description" value="{{ request.args.get('description', '')|e }}">
            </div>
            <div class="col">
                <input type="number" name="min_price" class="form-control" placeholder="Min Price" value="{{ request.args.get('min_price', '')|e }}">
            </div>
            <div class="col">
                <input type="number" name="max_price" class="form-control" placeholder="Max Price" value="{{ request.args.get('max_price', '')|e }}">
            </div>
            <div class="col">
                <input type="text" id="brand-filter" name="brand_name" class="form-control" placeholder="Select Brand" value="{{ request.args.get('brand_name', '')|e }}">
                <div id="brand-results" class="list-group" style="max-height: 200px; overflow-y: auto;"></div>
            </div>
            <div class="col">
                <input type="text" id="category-filter" name="category_name" class="form-control" placeholder="Select Category" value="{{ request.args.get('category_name', '')|e }}">
                <div id="category-results" class="list-group" style="max-height: 200px; overflow-y: auto;"></div>
            </div>
        </div>
    </form>
    <div class="row">
        {% for product in products %}

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <div>
                                <h5 class="card-title">{{ product.name|e }}</h5>
                                <p class="card-text">{{ product.description|e }}</p>
                                <p class="card-text">Price: ${{ product.price|e }}</p>
                            </div>
                            <div class="ms-3">
                                <img id="image-preview" src="https://drive.google.com/thumbnail?id={{ product.image }}" alt="Image" class="img-thumbnail" width="100">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between gap-2">
                            <a href="{{ url_for('main.view_product', product_id=product.id) }}" class="btn btn-primary">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
document.getElementById('filter-toggle').addEventListener('click', function() {
    var filterOptions = document.getElementById('filter-options');
    filterOptions.style.display = filterOptions.style.display === 'none' ? 'block' : 'none';
});

document.getElementById('brand-filter').addEventListener('focus', function() {
    if (this.value === '') {
        fetch(`/filter_brands`)
            .then(response => response.json())
            .then(data => {
                var results = document.getElementById('brand-results');
                results.innerHTML = '';
                data.forEach(function(brand) {
                    var item = document.createElement('a');
                    item.className = 'list-group-item list-group-item-action';
                    item.textContent = brand;
                    item.addEventListener('click', function() {
                        document.getElementById('brand-filter').value = brand;
                        results.innerHTML = '';
                    });
                    results.appendChild(item);
                });
            });
    }
});

document.getElementById('brand-filter').addEventListener('input', function() {
    var searchTerm = this.value;
    var results = document.getElementById('brand-results');
    if (searchTerm === '') {
        results.innerHTML = '';
        return;
    }
    fetch(`/filter_brands?search_term=${searchTerm}`)
        .then(response => response.json())
        .then(data => {
            results.innerHTML = '';
            data.forEach(function(brand) {
                var item = document.createElement('a');
                item.className = 'list-group-item list-group-item-action';
                item.textContent = brand;
                item.addEventListener('click', function() {
                    document.getElementById('brand-filter').value = brand;
                    results.innerHTML = '';
                });
                results.appendChild(item);
            });
        });
});

document.getElementById('brand-filter').addEventListener('blur', function() {
    var results = document.getElementById('brand-results');
    results.innerHTML = '';
});

document.getElementById('category-filter').addEventListener('focus', function() {
    if (this.value === '') {
        fetch(`/filter_categories`)
            .then(response => response.json())
            .then(data => {
                var results = document.getElementById('category-results');
                results.innerHTML = '';
                data.forEach(function(category) {
                    var item = document.createElement('a');
                    item.className = 'list-group-item list-group-item-action';
                    item.textContent = category;
                    item.addEventListener('click', function() {
                        document.getElementById('category-filter').value = category;
                        results.innerHTML = '';
                    });
                    results.appendChild(item);
                });
            });
    }
});

document.getElementById('category-filter').addEventListener('input', function() {
    var searchTerm = this.value;
    var results = document.getElementById('category-results');
    if (searchTerm === '') {
        results.innerHTML = '';
        return;
    }
    fetch(`/filter_categories?search_term=${searchTerm}`)
        .then(response => response.json())
        .then(data => {
            results.innerHTML = '';
            data.forEach(function(category) {
                var item = document.createElement('a');
                item.className = 'list-group-item list-group-item-action';
                item.textContent = category;
                item.addEventListener('click', function() {
                    document.getElementById('category-filter').value = category;
                    results.innerHTML = '';
                });
                results.appendChild(item);
            });
        });
});

document.getElementById('category-filter').addEventListener('blur', function() {
    var results = document.getElementById('category-results');
    results.innerHTML = '';
});
</script>
{% endblock %}