<!-- templates/products_buyer.html -->
{% extends "base.html" %}

{% block title %}Products - E-commerce{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome to your dashboard, {{ current_user.email }}</h2>
    <h1>Products</h1>

    <!-- Search Form -->
    <form method="GET" action="{{ url_for('main.products_buyer') }}">
    <div class="form-group">
        <label for="search">Search for products</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search for products" value="{{ request.args.get('search', '') }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
                <button class="btn btn-outline-secondary" type="reset" onclick="window.location.href='{{ url_for('main.products_buyer') }}'">Reset</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" id="brand" name="brand">
            <option value="">All Brands</option>
            {% for brand in brands %}
                <option value="{{ brand.id }}" {% if request.args.get('brand') == brand.id %}selected{% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select>
    </div><br>
    <div class="form-gsroup">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if request.args.get('category') == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>
    <br>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        {% if product.quantity > 0 %}
                            <p class="card-text">Quantity: {{ product.quantity }}</p>
                        {% else %}
                            <p class="text-danger">Out of stock</p>
                        {% endif %}
                        <a href="{{ url_for('main.view_product', product_id=product.id) }}" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}