{% extends "base.html" %}

{% block title %}Products - E-commerce{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome to your dashboard, {{ current_user.email }}</h2>
    <h1>Products</h1>

    <a href="{{ url_for('main.add_product') }}" class="btn btn-primary">Add Product</a>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <a href="{{ url_for('main.view_product', product_id=product.id) }}" class="btn btn-primary">View Product</a>
                        <a href="{{ url_for('main.view_reviews', product_id=product.id) }}" class="btn btn-primary">View Reviews</a>
                        <a href="{{ url_for('main.edit_product', product_id=product.id) }}" class="btn btn-primary">Edit Product</a>
                        <form action="{{ url_for('main.remove_product', product_id=product.id) }}" method="POST">
                            <button class="btn btn-danger" type="submit">Remove Product</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}