<!-- templates/profile.html -->
{% extends "base.html" %}

{% block title %}Profile - E-commerce{% endblock %}

{% block content %}
     <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Profile</h1>
            </div>

            <div class="card-body">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                </div>

                <div>
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name" value="{{ current_user.name }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" value="{{ user.address.address }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" value="{{ user.address.city }}" readonly>
                </div>


                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    {% if current_user.avatar %}
                        <img id="avatar-preview" src="https://drive.google.com/thumbnail?id={{ current_user.avatar }}" alt="Avatar" class="img-thumbnail" width="100">
                    {% else %}
                        <img id="avatar-preview" src="{{ current_user.gravatar(150) }}" alt="Avatar" class="img-thumbnail" width="50">
                    {% endif %}
                </div>

                <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
            </div>

            {% if current_user.role == 'buyer' %}
                <div class="card-footer text-end">
                    <a class="btn btn-link" href="{{ url_for('main.order_history') }}">Order History</a>
                </div>
            {% endif %}
        </div>
    </div>
<br>
{% if get_flashed_messages() %}
<div class="container mt-3">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<script>
function previewAvatar(input) {
    var file = input.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
        document.getElementById('avatar-preview').src = e.target.result;
    }
    reader.readAsDataURL(file);
}

function previewDefaultAvatar(select) {
    var avatar = select.value;
    if (avatar) {
        document.getElementById('avatar-preview').src = "{{ url_for('static', filename='avatars/') }}" + avatar;
    } else {
        document.getElementById('avatar-preview').src = "{{ current_user.gravatar(150) }}";
    }
}
</script>
{% endblock %}
