/* styles.css */

/* Imposta il margine e il padding di default a zero per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili per il corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    line-height: 1.6;
}

/* Navbar personalizzata */
.navbar {
    margin-bottom: 20px;
}

/* Stili per il contenitore principale */
.container {
    padding: 20px;
}

/* Stili per il form di login e registrazione */
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 0;
}

.form-signin .form-select {
    margin-bottom: 10px;
}

.alert {
    margin-top: 10px;
}

/* Pulsanti personalizzati */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
